@import 'setup';








/************************************************/
/***********     CSS CONTENT      **********/
/***********************************************/

/*

- Initialize
- Global
- Header
- Home content
- Aside
- Footer

*/



/************************************************/
/*************     INITIALIZE      **************/
/***********************************************/
a {
  text-decoration: none;
  color: $light-blue;
}

/************************************************/
/*************     GLOBAL      ****************/
/***********************************************/

html  {
  font-size: 67%;
}

/* Background image with filter */
body {
  background: 
    radial-gradient(
            rgba(1,1,3, 0.5),
            rgba(107,1,3, 1)
    ),
    url(images/paris-liberation.png);
}


h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: $pink;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  font-weight: 200;
}

h3, h4, h5, h6, nav ul li a {
  font-family: 'Ubuntu Mono', sans-serif;
}


h1 {
  font-size: 6rem;
}

@media (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }
}

p, input, a {
    font-family: 'Raleway', sans-serif;
    /*font-size: 1rem;*/
}

nav a {
  font-size: 1.5rem;
}

.yellow {
  color: $light-blue;
  font-size: 40px;
}

/*STAR SEPARATOR */
.star {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.star {
  line-height: 0.5;
}
.star span {
  display: inline-block;
  position: relative;  
}
.star span::before, .star span::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  border-top: 1px solid rgb(248,202,0);
  border-bottom: 1px solid rgb(248,202,0);
  top:40%;
}
.star span::before {
  right: 100%;
  margin-right: 15px;
}

.star span::after {
  left: 100%;
  margin-left: 15px;
}
/* END STAR SEPARATOR */

// .left {
//   float: left;
// }

// .right {
//   float: right;
// }

.rounded {
  border-radius: 50%;
}

.centered {
  display: block;
  margin: auto;
}

/* QUOTES */
.quote {
  display: block;
  font-size: 2em;
}

.quote::before {
  content: "\f10d";
  font-family: FontAwesome;
  margin-right: 1em;
}

.quote::after {
  content: "\f10e";
  font-family: FontAwesome;
  margin-left: 1em;
}
/* END QUOTES */

  #wrapper {
    /*width: 960px;*/
    // margin: auto;
    background-color: white;
    // padding: 20px 50px;
  }

@media (min-width: 970px) {
  #wrapper {
    // width: 960px;
  }
  
}

@media (min-width: 600px) and (max-width: 969px) {
  #wrapper {
    // width: 600px;
  }
}

@media (max-width: 599px) {
  #wrapper {
    // width: 100%;
    // padding: 0;
  }
}




/************************************************/
/*************     HEADER      ****************/
/***********************************************/

header {
  text-align: center;
}

header h1 {
  margin-top: 0;
}

header h2 {
  margin-bottom: 40px;
}

/* MAIN NAV */
#main-nav {
  border-top: 1px solid rgb(107,1,3);
  border-bottom: 1px solid rgb(107,1,3);
  margin: 2rem 0;
  padding: 1rem 0;
}

#main-nav ul li {
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  text-align: center;
}

#main-nav ul a:hover::before {
  content: "\f005";
  font-family: FontAwesome;
  position: absolute;
  top: 83%;
  left: 46%;
  color: rgb(248,202,0);

}

.navbar-default {
  background-color: transparent;
  border: none;
}

/* END MAIN NAV */

#logo {
  height: 150px;
}


/************************************************/
/**********     HOME CONTENT      *********/
/***********************************************/
// #home {
//   width: 78%;
//   padding: 0 1%;
// }

// #home .home-picture {
//   height: 100px;
// }

// #home .home-article {
//   width: 40%;
//   padding: 20px 5%;
// }

#home img {
  width: 200px;
}

/************************************************/
/*************        ASIDE       ****************/
/***********************************************/
// aside {
//   width: 20%;
// }

@media (max-width: 599px) {
  aside {
/*    width: 100%;
    padding: 20px;*/
  }
}

/************************************************/
/*************     FOOTER      ****************/
/***********************************************/

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $blue;
  opacity: 0.8;
  text-align: center;

  p {
    padding: 0;
    margin: 0;
  }

  button {
    background-color: transparent;
    color: transparent;
    font-size: 2rem;
    border: 1px solid transparent;
    margin: 0.5rem;

    a {
      color: white;
      &:hover {
        color: $pink;
      }
    }
  }
}

