header {
  text-align: center;
}

header img {
  border-radius: 50%;
  height: 100px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
}

.yellow {
  color: rgb(248,202,0);
  font-size: 40px;
}

.star {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

article img {
  height: 100px;
}

article {
  width: 40%;
  padding: 20px 5%;
}

aside {
  width: 20%;
  /*float: right;*/
}

section {
  width: 78%;
  /*float: left;*/
  padding: 0 1%;
  border-right: ;
}

footer {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Working method */
.filter {
  background: 
    /* top, transparent red, faked with gradient */ 
    radial-gradient(
/*      rgba(213, 255, 49, 0.9), 
      rgba(213, 255, 49, 0.4) green*/
/*      rgba(184, 235, 2, 0.9), 
      rgba(184, 235, 2, 0.4) green*/
            rgba(107,1,3, 0.5),
            rgba(107,1,3, 1)
    ),
    /* bottom, image */
    url(images/paper_1.png);
}

.wrapper {
  width: 960px;
  margin: auto;
  background-color: white;
  padding: 20px 50px;
}

body {
  margin: 0;
  padding: 0;
}

.rounded {
  border-radius: 50%;
}

.centered {
  display: block;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-family: 'Lobster', cursive;
  color: rgba(163,0,6, 0.7);
  text-align: center;
}

h1 {
  font-weight: 200;
}

nav ul li a {
  font-family: 'Ubuntu Mono', sans-serif;
  text-decoration: none;
  color: black;
}

nav {
  border-top: 1px solid rgb(107,1,3);
  border-bottom: 1px solid rgb(107,1,3);
  margin: 20px 0;
}

header h1 {
  margin-top: 0;
  color: rgba(163,0,6, 1);
}

header h2 {
  margin-bottom: 40px;
  color: rgba(163,0,6, 0.7);
}